
<div class="container">

  <mat-toolbar color="warn" role="heading" class="mt">
    <span class="spacer">Breaking News</span>
    <span class="spacer"></span>

    <div>
      <button mat-button [routerLink]="['/']">Home</button>
      <button mat-button [routerLink]="['/headlines']">Headlines</button>
      <button mat-button [routerLink]="['/sources']">Sources</button>
      <button mat-button [routerLink]="['/favorites']">Favorites</button>
    </div>
  </mat-toolbar>

  <p>This application is based on <a href="https://newsapi.org/" target="_blank">newsapi</a>.</p>

  <router-outlet></router-outlet>

</div>